@charset "UTF-8";
@page {
	margin : 20px;
}

html
{   -epub-writing-mode: vertical-rl; font-family:"@Hiragino Mincho ProN","@ヒラギノ明朝 Pro W3","@IPAexMincho","@IPAex明朝","@MS Mincho","@ＭＳ 明朝","ヒラギノ明朝 Pro W3","Hiragino Mincho ProN","IPAexMincho","IPAex明朝",serif;
 font-family:"@HiraKakuProN-W3","@ヒラギノ角ゴ Pro W3","@MS Gothic","@ＭＳ ゴシック","HiraKakuProN-W3","ヒラギノ角ゴ Pro W3",sans-serif;
 line-height:1.75;text-align: justify;
}

p.copyright {-epub-writing-mode: horizontal-tb;}
p.Normal, p.caption, p.illustration, p.List, p.copyright {font-family:"@Hiragino Mincho ProN","@ヒラギノ明朝 Pro W3","@IPAexMincho","@IPAex明朝","@MS Mincho","@ＭＳ 明朝","ヒラギノ明朝 Pro W3","Hiragino Mincho ProN","IPAexMincho","IPAex明朝",serif;
line-height:1.75;}
h1.Header, h2.Header2 {font-family:"@HiraKakuProN-W3","@ヒラギノ角ゴ Pro W3","@MS Gothic","@ＭＳ ゴシック","HiraKakuProN-W3","ヒラギノ角ゴ Pro W3",sans-serif;
 line-height:1.75; text-align: justify;}
 p.illustration {padding-bottom: 0;padding-top: 0px;margin: 0;line-height: 1;text-align: left;vertical-align: top}

span.tcy {-epub-text-combine:horizontal;}
span.kenten {-epub-text-emphasis-style:sesame;}

a { text-decoration:none; }

 .frame-1 {
	display:block;
	margin:auto;
	width:auto;
	height:auto;
	max-width:100%;
	max-height:100%;
	-epub-writing-mode: horizontal-tb;
	text-align:center;

}
 