
.title{
	text-align:center;
}

.author {
	text-align:center;
}

.img {
	text-align:center;
}

.toc{
	display:block;
	text-align: left;
	font-size : 1.2em;
	margin-top : 1em;
	margin-bottom : 1em;
	margin-left : 3em;
	margin-right : 3em;
}

@font-face {
	font-family: 'Opus Text';
	src:url(fonts/opus-text-58763d700d5f9.TTF) format('opentype');
}

.opus-text {
    font-family: 'Opus Text', arial, helvetica, sans-serif;
}
